---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="I like elegant solution"
	date={new Date('2025-01-01')}
>
	<p>I think about stuff.</p>
	<p>Not exclusive list of recent "stuff":</p>
	<ul>
		<li>Process design (or how to use correct incentives)</li>
		<li>Methods of conveying intention (or why naming is hard)</li>
		<li>How to explain that SQL and NoSQL are the same, just with different tradeoffs</li>
		<li>Problems that require a very large number of dimensions</li>
	</ul>
</Layout>
